@inherits LayoutComponentBase

<MudDialogProvider />
<MudPopoverProvider />
<MudLayout>
    <MudThemeProvider @ref="Provider" Theme="_theme" />
    <MudAppBar Style=@($"background-color: {_theme.PaletteLight.Primary}") Class="" WrapContent="true" Fixed="false">
        <div style="padding: 15px">
            <h2 @onclick="OnClick">
                <label style="color: black" onmouseenter="this.style.cursor = 'pointer'">RetroBoard</label>
            </h2>
        </div>
    </MudAppBar>
    <MudMainContent Style="margin-top: -35px;">
        @Body

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </MudMainContent>
</MudLayout>