@inherits LayoutComponentBase

<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudThemeProvider @ref="Provider" Theme="_theme" />
    <MudAppBar Style=@($"background-color: {_theme.PaletteLight.Primary}") WrapContent="true" Fixed="false">
        <div style="padding: 15px">
            <h2>
                <a href="@NavigationManager.BaseUri" style="color: black" onmouseenter="this.style.cursor = 'pointer'">RetroBoard</a>
            </h2>
        </div>
    </MudAppBar>
    <MudMainContent Style="margin-top: -35px;">
        @Body
    </MudMainContent>
</MudLayout>